/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/var/sessions/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!/app/var/sessions/.gitkeep
/app/phpunit.xml


# Build & Deploy
/deploy
node_modules
/vendor/


# Debug
*.css.map


# Project specific config
